<section class="bg-main">
  <div class="grid w-10/12 mx-auto grid-cols-3 gap-x-3">
    <section matRipple
      class="mb-10 cursor-pointer grid grid-cols-1 w-full rounded-lg bg-gray-900 border-blue-900 border-1 shadow-xl"
    >
      <!-- View -->
      <img
        class="w-full rounded-t-lg grayscale h-48 saturate-50 border-none sepia-1 | sm:h-56"
        src=""
        alt=""
      />

      <!-- Title and description -->
      <div class="grid p-3 col-span-2">
        <h4 class="text-white text-lg font-bold">Titulo del encabezado</h4>
        <p class="description text-sm w-11/12 mt-2 text-blue-400">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
          saepe natus, excepturi in a dolorum odit error maiores nam voluptatum
          blanditiis iusto voluptates cupiditate tenetur quo corporis totam,
          tempore tempora.
        </p>

        <!-- Categorie -->
        <div>
          <ul class="mt-2">
            <li
              class="bg-gray-800 float-left mr-2 text-purple-400 block rounded p-1 text-sm mb-2"
            >
              Programación
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section matRipple
      class="mb-10 cursor-pointer grid grid-cols-1 w-full rounded-lg bg-gray-900 border-blue-900 border-2 shadow-xl"
    >
      <!-- View -->
      <img
        class="w-full rounded-t-lg grayscale h-48 saturate-50 border-none sepia-1 | sm:h-56"
        src=""
        alt=""
      />

      <!-- Title and description -->
      <div class="grid p-3 col-span-2">
        <h4 class="text-white text-lg font-bold">Titulo del encabezado</h4>
        <p class="description text-sm w-11/12 mt-2 text-blue-400">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
          saepe natus, excepturi in a dolorum odit error maiores nam voluptatum
          blanditiis iusto voluptates cupiditate tenetur quo corporis totam,
          tempore tempora.
        </p>

        <!-- Categorie -->
        <div>
          <ul class="mt-2">
            <li
              class="bg-gray-800 float-left mr-2 text-purple-400 block rounded p-1 text-sm mb-2"
            >
              Programación
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Resume section -->
    <div class="grid grid-rows-3">
      <section>
        <!-- Tislostle -->
        <div>
          <h3 class="text-blue-200 text-xl font-medium mb-2">
            <a href="#">Encabezado de la publicaición</a>
          </h3>
          <div>
            <p class="text-pink-200 text-xs font-normal leading-relaxed">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae modi veritatis, nesciunt deleniti molestiae non beatae amet iusto eligendi ex, neque iure omnis veniam? Voluptatibus eos quae numquam illo eveniet.
            </p>
          </div>
        </div>
      </section>

      <section>
        <!-- Tislostle -->
        <div>
          <h3 class="text-blue-200 text-xl font-medium mb-2">
            <a href="#">Encabezado de la publicaición</a>
          </h3>
          <div>
            <p class="text-pink-200 text-xs font-normal leading-relaxed">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae modi veritatis, nesciunt deleniti molestiae non beatae amet iusto eligendi ex, neque iure omnis veniam? Voluptatibus eos quae numquam illo eveniet.
            </p>
          </div>
        </div>
      </section>

      <section>
        <!-- Tislostle -->
        <div>
          <h3 class="text-blue-200 text-xl font-medium mb-2">
            <a href="#">Encabezado de la publicaición</a>
          </h3>
          <div>
            <p class="text-pink-200 text-xs font-normal leading-relaxed">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae modi veritatis, nesciunt deleniti molestiae non beatae amet iusto eligendi ex, neque iure omnis veniam? Voluptatibus eos quae numquam illo eveniet.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
