<div class="bg-main pb-10">
  <!-- arroy direction -->
  <button class="relative top-7 left-10" routerLink="/">
    <i class="fas fa-arrow-left text-2xl text-white"></i>
  </button>

  <!-- Title -->
  <div class="title mt-14">
    <h3 class="text-center text-blue-700 text-5xl font-bold tracking-widest">BLOG</h3>
    <p class="text-white text-center text-lg mt-3 font-cutive font-bold w-3/5 mx-auto">Mostrar el conocimiento es la última fase en el conocimiento. Comparte el conociento.</p>
  </div>

  <!-- Categories -->
  <div class="categories grid grid-cols-3 gap-x-7 w-8/12 mx-auto mt-14">
    <button
     class="text-white p-2 uppercase font-medium text-xl  group ease-in-out duration-300 bg-trasparent border-2 border-blue-600 shadow-2xl rounded-3xl hover:bg-blue-600 button-scale ">
      Programación
    </button>
    <button
    class="text-white p-2 uppercase font-medium text-xl  group ease-in-out duration-300 bg-trasparent border-2 border-blue-600 shadow-2xl rounded-3xl hover:bg-blue-600 button-scale ">
     productividad
   </button>
   <button
   class="text-white p-2 uppercase font-medium text-xl  group ease-in-out duration-300 bg-trasparent border-2 border-blue-600 shadow-2xl rounded-3xl hover:bg-blue-600 button-scale ">
    herramientas
  </button>

  </div>

</div>
