<div class="bg-main pb-10">
  <!-- arroy direction -->
  <button class="relative top-7 left-10" routerLink="/">
    <i class="fas fa-arrow-left text-2xl text-white"></i>
  </button>

  <!-- Title -->
  <div class="title mt-14">
    <h3 class="text-center text-blue-700 text-5xl font-bold tracking-widest">BLOG</h3>
    <p class="text-white text-center text-lg mt-3 font-cutive font-bold w-3/5 mx-auto">Mostrar el conocimiento es la última fase en el conocimiento. Comparte el conociento.</p>
  </div>

  <!-- Categories -->
  <div class="categories grid grid-cols-3 gap-x-7 w-8/12 mx-auto mt-14">
    <button class='bg-blue-900 font-medium shadow-lg text-white rounded-2xl py-1 px-2'>
      Programación
    </button>
    <button class='bg-blue-900 font-medium shadow-lg text-white rounded-2xl py-1 px-2'>
      Productividad
    </button>
    <button class='bg-blue-900 font-medium shadow-lg text-white rounded-2xl py-1 px-2'>
      Herramientas de desarrollo
    </button>
  </div>

</div>
