<div class="bg-main w-full max-h-screen pt-9 pb-20">
  <h3
    @enterState
    class="text-center text-2xl text-white font-bold w-11/12 leading-snug mx-auto mb-10
    | lg:text-5xl lg:leading-normal"
  >
    Hola, programo y diseño para ti, <br />
    <span class="text-blue-600">¿en qué puedo ayudarte?</span>
  </h3>

  <img
    @enterState
    class="block w-36 mx-auto shadow-2xl rounded-full"
    src="https://firebasestorage.googleapis.com/v0/b/miguelbercru-reside.appspot.com/o/main-assets%2Fpicture-user.png?alt=media&token=987b1cd5-b7e9-4c81-b10c-21e1ab53a1c8"
    alt="Miguel Ángel Bermúdez Cruz"
  />

  <p
    @enterState
    class="block w-11/12 mx-auto mt-14 font-cutive text-lg font-bold text-white text-center leading-7
    | lg:text-xl xl:text-2xl "
  >
    Desarrollador Web Front-end UI/UX
</div>
